@use './utils.scss';

$body-font-family: 'Ubuntu', sans-serif;
$heading-font-family: $body-font-family;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900
);

$blockquote-font-size: 28px;
